<h3> View Account Details</h3>
<div>
    <div>
        <label> <b> Account ID: </b></label> {{account.accId}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{account.name}}
    </div>
    <div>
        <label> <b> Balance: </b></label> {{account.balance}}
    </div>
    <div>
        <label> <b> Account creation date: </b></label> {{account.accountCreationDate}}
    </div>
    <div>
        <label> <b> Account Type: </b></label> {{account.accountType}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{account.address}}
    </div>
    <div>
        <label> <b> Phone: </b></label> {{account.phone}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{account.email}}
    </div>
    <div>
        <label> <b> Password: </b></label> {{account.password}}
    </div>
    <div>
        <label> <b> Date of Birth: </b></label> {{account.dob}}
    </div>
</div>