<div class="col-md-6 offset-md-3">
    <h3> Update Account </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Address </label>
            <input type="text" class="form-control" id="address" [(ngModel)]="account.address" name="address">
        </div>

        <div class="form-group">
            <label> Phone </label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="account.phone" name="phone">
        </div>

        <div class="form-group">
            <label> Email </label>
            <input type="text" class="form-control" id="email" [(ngModel)]="account.email" name="email">
        </div>

        <div class="form-group">
            <label> Date of Birth </label>
            <input type="datetime-local" class="form-control" id="dob" [(ngModel)]="account.dob" name="dob">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>