<table class="table table-striped">
    <thead>
        <tr>
            <th> Account Id </th>
            <th> Name </th>
            <th> Account Balance </th>
            <th> Account creation date </th>
            <th> Account Type </th>
            <th> Address </th>
            <th> Phone </th>
            <th> Email ID </th>
            <th> Password </th>
            <th> Date of Birth </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td> {{ account.accId }} </td>
            <td> {{ account.name }} </td>
            <td> {{ account.balance }} </td>
            <td> {{ account.accountCreationDate }} </td>
            <td> {{ account.accountType }} </td>
            <td> {{ account.address }} </td>
            <td> {{ account.phone }} </td>
            <td> {{ account.email }} </td>
            <td> {{ account.password }} </td>
            <td> {{ account.dob }} </td>
            <td>
                <button (click)="updateAccount(account.accId)" class="btn btn-info"> Update</button>
                <button (click)="deleteAccount(account.accId)" class="btn btn-danger" style="margin-left: 10px">
                    Delete</button>
                <button (click)="accountDetails(account.accId)" class="btn btn-info" style="margin-left: 10px">
                    View</button>
            </td>
        </tr>
    </tbody>
</table>